@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Inter", sans-serif;
  position: relative;
}

header {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  
  height: 7rem;
  
  }
  
  .header img {
  height: 5rem;
  }
  
  .header .center-text {
  flex: 1;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
  color: #FDBB57;
  text-shadow:
    1px 1px 0 #510300,
    2px 2px 0 #510300,
    3px 3px 0 #510300,
    4px 4px 0 #510300,
    5px 5px 0 #510300,
    6px 6px 0 #510300,
    7px 7px 0 #510300;
  }
  
  .header .center-text h6{
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: black;
  text-shadow: none;
  font-weight: 900;
  }